body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score-display {
  background-color: rgb(201, 195, 195);
  width: 300px;
  height: 400px;
  padding: 1em 3em;
  margin-bottom: 2em;
}

button {
  width: 6em;
  margin-bottom: 1em;
}
